                  {
                    "datasetPaths": [],
                    "description": "Simulation Run No. {{simulation_name}}",
                    "name": "{{simulation_name}}",
                    "path": "{{simulation_name}}/"
                  }